*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.asv
*.dvi
*.spl
*.zip
*.gz
.DS_Store
Plots
*.txt
*.pdf
*-berry.tex
*-berry.bib
*.e

# allow for PDF files
!\7-equ-theory-paper\review\delchini_ragusa_berry.pdf
!/7-equ-theory-paper/review/delchini_ragusa_berry.pdf
!\7-equ-theory-paper\review\jsc_2015_2.pdf
!/7-equ-theory-paper/review/jsc_2015_2.pdf
!\7-equ-theory-paper\review2\reviewer1_jsc_2016_1.pdf
!/7-equ-theory-paper/review2/reviewer1_jsc_2016_1.pdf
!\7-equ-theory-paper\review2\reviewer2.txt
!/7-equ-theory-paper/review2/reviewer2.txt
!\7-equ-theory-paper\review2\REV1.pdf
!/7-equ-theory-paper/review2/REV1.pdf
!\7-equ-theory-paper\review2\REV2.pdf
!/7-equ-theory-paper/review2/REV2.pdf

!\7-equ-theory-paper\resubmit\JOMP-D-15-00204_R1.pdf
!/7-equ-theory-paper/resubmit/JOMP-D-15-00204_R1.pdf
!\7-equ-theory-paper\resubmit\JOMP-D-15-00204_R2.pdf
!/7-equ-theory-paper/resubmit/JOMP-D-15-00204_R2.pdf


